beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
comtypes==1.1.9
cycler==0.10.0
decorator==4.4.2
ecapture==0.0.7
idna==2.10
imageio==2.9.0
jaraco.context==4.0.0
kiwisolver==1.3.1
matplotlib==3.4.1
more-itertools==8.7.0
networkx==2.5.1
numpy==1.20.2
opencv-python==4.5.1.48
p5py==1.0.0
pep517==0.10.0
Pillow==8.2.0
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
pyttsx3==2.90
PyWavelets==1.1.1
pywin32==300
requests==2.25.1
scikit-image==0.18.1
scipy==1.6.2
six==1.15.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
tifffile==2021.4.8
toml==0.10.2
urllib3==1.26.4
wikipedia==1.4.0
wolframalpha==5.0.0
xmltodict==0.12.0
